# Python / Django
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Django database
db.sqlite3

# Environment files
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
.venv/

# Python cache/tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node modules
node_modules/
frontendapp/node_modules/

# Build files
dist/
dist-ssr/
frontendapp/dist/

# ZIP files
*.zip

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.idea/
.vscode/